* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	list-style-type: none;
}

.video-container {
	background-image: url(./assets/background-productos.png);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 53vh;
}

.video {
	width: 100%;
	height: 30vh;
	padding: 0 30px;
}
/* Tablet */
@media (min-width: 768px) {
	.video {
		width: 60%;
		height: 48vh;
		padding: 0 30px;
	}
}
/* Desktop */
@media (min-width: 1280px) {
	.video {
		width: 60%;
		height: 40vh;
		padding: 0 30px;
	}
}
/* @media (min-width: 576px) {
	
} */

/* .hamburguesa {
	display: block;
} */

nav {
	display: none;
}

.navbar {
	width: 100%;
	padding: 15px 20px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: rgb(29, 29, 29);
	font-weight: 700;
	height: 100%;
	list-style-type: none;
	margin: 0px 0;
	padding: 0px 0;
	background-color: rgb(255, 255, 255);
	position: sticky;
	top: 0;
	box-shadow: 10px 2px 10px 0px;
	z-index: 999999;
}

/* Tablet */
/* @media (min-width: 768px) {
} */
/* Desktop */
@media (min-width: 1280px) {
	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: rgb(29, 29, 29);
		font-weight: 700;
		height: 80px;
		list-style-type: none;
		margin: 0px 0;
		padding: 0px 0;
		background-color: rgb(255, 255, 255);
		position: sticky;
		top: 0;
		box-shadow: 10px 2px 10px 0px;
		z-index: 999999;
	}
}

.menu-toggle{
  display: none;
}

.menu-toggle:checked ~ ul{
  display: flex;
} 

@media (min-width: 768px) {
	nav label {
		display: none;
	}
}

nav a {
	color: rgb(29, 29, 29);
}

nav ul {
	display: none;
	flex-direction: column;
	list-style: none;
	gap: 20px;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	padding: 20px;
	background-color: #ffffff;
}

@media (min-width: 768px) {
	nav ul {
		flex-direction: row;
		position: initial;
		display: flex;
		padding: 0;
	}
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-family: Arimo, sans-serif;
	text-transform: uppercase;
	gap: 20px;
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

/* Tablet */
@media (min-width: 768px) {
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		font-family: Arimo, sans-serif;
		text-transform: uppercase;
		gap: 20px;
		list-style: none;
	}
}
/* Desktop */
@media (min-width: 1280px) {
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		font-family: Arimo, sans-serif;
		text-transform: uppercase;
		gap: 20px;
		list-style: none;
	}
}

.carrito {
	display: none;
}
/* Tablet */
@media (min-width: 768px) {
	.carrito {
		display: flex;
	}
}
/* Desktop */
@media (min-width: 1280px) {
	.carrito {
		display: flex;
	}
}

/* banner */
.home-hero {
	background-image: url(./assets/Hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 648px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: rgb(255, 255, 255);
	font-size: 48px;
	text-transform: uppercase;
	font-family: Lato, sans-serif;
	font-weight: 900;
	font-style: normal;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
}

/* Tablet */
/* @media (min-width: 768px) {
	}
} */

/* Desktop */
@media (min-width: 1280px) {
}

.boton-header {
	color: rgb(255, 255, 255);
	cursor: pointer;
	background-color: transparent;
	border: 4px solid rgb(255, 255, 255);
	font-size: 21px;
	font-family: Arimo, sans-serif;
	font-weight: 700;
	padding: 18px 0;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 220px;
}

.contenedor-header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	gap: 77px;
}

h2,
h5 {
	color: rgb(29, 29, 29);
	font-size: 36px;
	font-family: Lato, sans-serif;
	font-weight: 700;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 42px 0 16px 0px;
	gap: 16px;
	text-align: center;
}

p {
	color: rgb(85, 85, 85);
	font-size: 20px;
	font-family: Arimo, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	padding: 0 34px;
}

.galeria {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor-productos {
	display: flex;
	width: 1198px;
	height: 450px;
	margin: 20px 0 0 0;
}

.contenedor-productos img {
	width: 0px;
	flex-grow: 1;
	object-fit: cover;
	transition: 0.6s ease;
}

.contenedor-productos img:hover {
	cursor: crosshair;
	width: 300px;
}

/* Mobile */
.contenedor-beneficios {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 40px 0;
	flex-wrap: wrap;
}

/* Tablet */
@media (min-width: 768px) {
	.contenedor-beneficios {
		flex-wrap: wrap;
	}
}

/* Desktop */
@media (min-width: 1280px) {
	.contenedor-beneficios {
		gap: 30px;
		gap: 11px;
		width: 100%;
	}
}

.box-1,
.box-2,
.box-3,
.box-4 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
}

h3 {
	color: rgb(29, 29, 29);
	font-family: lato, sans-serif;
	font-weight: 800;
}

h4 {
	color: rgb(29, 29, 29);
	font-size: 36px;
	font-family: Lato, sans-serif;
	font-weight: 700;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 42px 0 16px 0px;
	gap: 16px;
}

.texto {
	color: rgb(85, 85, 85);
	font-size: 16px;
	width: 263px;
	padding: 5px 47px 0 0;
	text-align: left;
}

.contenedor-boton-azul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 70px 0;
}

.boton-azul {
	background: linear-gradient(45deg, #5fa2ff, #867bfe);
	border: 3px solid rgb(3, 2, 2);
	color: rgb(0, 0, 0);
	cursor: pointer;
	font-weight: 600;
	font-size: 16px;
	font-family: Arimo, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding: 18px 36px;
}

.mapa-container {
	background-color: rgba(174, 169, 169, 0.043);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 35px 0;
	margin: 40px 0 0 0;
}

/* Tablet */
/* @media (min-width: 768px) {
	.contenedor-beneficios {
		flex-wrap: wrap;
	}
} */

/* Desktop */
@media (min-width: 1280px) {
	.contenedor-beneficios {
		gap: 11px;
	}
}

.footer {
	background-color: rgb(0, 0, 0);
	border-top: 1px solid rgba(0, 0, 0, 0.216);
	padding: 30px 0 15px 0;
}

/* Tablet */
/* @media (min-width: 768px) {
	.contenedor-beneficios {
		flex-wrap: wrap;
	}
} */

/* Desktop */
@media (min-width: 1280px) {
	.contenedor-beneficios {
		gap: 11px;
	}
}

#pagina {
	color: rgb(255, 255, 255);
	font-size: 30px;
	font-family: Lato, sans-serif;
	font-weight: 500;
	text-decoration: none;
}

.listas {
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	font-family: Lato, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	margin: 30px 0 0 0;
	gap: 20px;
	flex-direction: column;
}

/* Tablet */
/* @media (min-width: 768px) {
	.contenedor-beneficios {
		flex-wrap: wrap;
	}
} */

/* Desktop */
@media (min-width: 1280px) {
	.listas {
		flex-direction: row;
	}
}

.redes-sociales {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 25px 0 61px 0;
	gap: 20px;
	flex-direction: column;
}
/* Tablet */
/* @media (min-width: 768px) {
	.contenedor-beneficios {
		flex-wrap: wrap;
	}
} */

/* Desktop */
@media (min-width: 1280px) {
	.redes-sociales {
		flex-direction: row;
	}
}

.derechos {
	color: rgb(255, 255, 255);
	font-size: 15px;
}

footer a {
	color: rgb(255, 255, 255);
}

.logo-footer {
	text-align: center;
	width: 100%;
}

.parrafo {
	color: rgb(255, 255, 255);
	font-size: 21px;
	margin: 5px 0 38px;
}

/* Productos */
.banner {
	background-image: url(./assets/background-productos.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 490px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 63px;
}

/* Tablet */
@media (min-width: 768px) {
}
/* Desktop */
@media (min-width: 1280px) {
}

.contenedor-p {
	border: 2px solid rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

@media (min-width: 1280px) {
	.contenedor-p {
		padding: 70px 60px 12px;
	}
}

.pictures {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 50px;
	margin: 0 0 50px 0;
}

footer a {
	color: rgb(255, 255, 255);
}

.parrafo {
	color: rgb(255, 255, 255);
	padding: 0 30px;
}
/* Tablet */
@media (min-width: 768px) {
	.parrafo {
		padding: 0 30px;
	}
}
/* Desktop */
@media (min-width: 1280px) {
	.parrafo {
		padding: 0 30px;
	}
}

.hero-2 {
	background-image: url(./assets/unplash1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 348px;
}

/* Tablet */
/* @media (min-width: 768px) {
	.contenedor-beneficios {
		flex-wrap: wrap;
	}
} */

/* Desktop */
@media (min-width: 1280px) {
	.contenedor-beneficios {
		gap: 11px;
	}
}

.banner-2 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 223px 0 0 140px;
	gap: 77px;
}

.oferta {
	font-size: 18px;
	text-transform: uppercase;
	font-family: Lato, sans-serif;
	font-weight: 900;
	position: relative;
	gap: 15px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: auto;
}

/* Tablet */
@media (min-width: 768px) {
	.oferta {
		font-size: 38px;
		gap: 20px;
	}
}

@media (min-width: 1280px) {
	.oferta {
		font-size: 48px;
		gap: 20px;
	}
}

/* Desktop */
@media (min-width: 1280px) {
	.contenedor-beneficios {
		gap: 11px;
	}
}

.lista-oferta {
	list-style-type: none;
	font-weight: 800;
	animation: anim 1s infinite linear;
	text-align: center;
	padding: 29px 0 10px 0;
}

/* Tablet */
/* @media (min-width: 768px) {
	.contenedor-beneficios {
		flex-wrap: wrap;
	}
} */

/* Desktop */
@media (min-width: 1280px) {
	.lista-oferta {
		padding: 0 0 20px 0;
	}
}

/* Desktop */
@media (min-width: 1280px) {
	.contenedor-beneficios {
		gap: 11px;
	}
}

@keyframes anim {
	0% {
		color: rgb(254, 254, 255);
		text-shadow: none;
	}

	18% {
		color: rgb(3, 1, 5);
		text-shadow: none;
	}

	20% {
		color: rgb(223, 219, 24);
		text-shadow: 0 0 1vw #a9a62b, 0 0 3 vw rgb(255, 255, 255);
	}
}

.h1 {
	font-size: 48px;
	font-weight: 500;
}

.titulo-con-lineas {
	display: flex;
	align-items: center;
	text-align: center;
	max-width: 100%;
}

.linea::before,
.linea::after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background-color: rgb(0, 0, 0);
}

.titulos-p,
.comentarios {
	color: rgba(0, 0, 0, 0.659);
	font-family: Lato, sans-serif;
	font-size: 28px;
	font-weight: 500;
	text-align: center;
	padding: 30px 23px;
}

/* Tablet */
@media (min-width: 768px) {
	.titulos-p {
		font-size: 40px;
		padding: 30px 80px;
	}
}

@media (min-width: 1280px) {
	.titulos-p {
		font-size: 40px;
		padding: 30px 80px;
	}
}

.contenedores {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin: 35px 0 36px 0;
}

.card-1,
.card-2,
.card-3,
.card-4 {
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 10px 0;
}

/* Sobre Nosotros */

.hero {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 265px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 60px;
}

.hero-2 {
	background-image: url(./assets/header-nosotros.jpg);
}

.contenedor-c {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 12px 60px 12px;
}

.nosotros {
	max-width: 1304px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.caja {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* Tablet */
@media (min-width: 768px) {
	.caja {
		margin: 64px auto;
		width: 70%;
		display: flex;
		flex-direction: column;
		gap: 64px;
	}
}

/* Desktop */
@media (min-width: 1280px) {
	.caja {
		margin: 64px auto;
		width: 70%;
		display: flex;
		flex-direction: column;
		gap: 64px;
	}
}

.grid-comentarios {
	margin: 0 auto;
	/* height: 160px; */
	display: grid;
	max-width: 1300px;
	align-content: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

/* Tablet */
@media (min-width: 768px) {
	.grid-comentarios {
		grid-template-columns: 250px 1fr;
	}
}

/* Desktop */
@media (min-width: 1280px) {
	.grid-comentarios {
		grid-template-columns: 250px 1fr;
	}
}

.elemento {
	color: rgb(85, 85, 85);
	font-family: Arimo, sans-serif;
	font-size: 18px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

@media (min-width: 1280px) {
	.elemento p {
		padding: 0;
		text-align: left;
	}
}

/* Tablet */
/* @media (min-width: 768px) {
	.contenedor-beneficios {
		flex-wrap: wrap;
	}
} */

/* Desktop */
@media (min-width: 1280px) {
	.elemento {
		color: rgb(85, 85, 85);
		font-family: Arimo, sans-serif;
		font-size: 24px;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}

.avatar {
	width: 130px;
	height: 215px;
	object-fit: contain;
}

/* Contactanos */

.hero-3 {
	background-image: url(./assets/header-contactanos.jpg);
	display: flex;
	justify-content: center;
}

.contenedor-c {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.contenedor-c h1 {
	font-size: 28px;
}

@media (min-width: 1280px) {
	.contenedor-c h1 {
		font-size: 48px;
	}

	.contenedor-c {
		padding: 12px 60px 12px;
	}
}

.contenedor-texto {
	max-width: 612px;
	margin: 0 auto;
}

form {
	background: linear-gradient(45deg, #5fa2ff, #867bfe);
	width: 300px;
	font-family: Arimo, sans-serif;
	color: rgb(85, 85, 85);
	font-size: 15px;
	padding: 26px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 5px;
	border-radius: 10px;
	margin-top: 50px;
}

/* Tablet */
@media (min-width: 768px) {
	form {
		background: linear-gradient(45deg, #5fa2ff, #867bfe);
		width: 400px;
		font-family: Arimo, sans-serif;
		color: rgb(85, 85, 85);
		font-size: 15px;
		padding: 26px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 5px;
		border-radius: 10px;
		margin-top: 50px;
	}
}

/* Desktop */
@media (min-width: 1280px) {
	form {
		background: linear-gradient(45deg, #5fa2ff, #867bfe);
		width: 562px;
		font-family: Arimo, sans-serif;
		color: rgb(85, 85, 85);
		font-size: 15px;
		padding: 26px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 5px;
		border-radius: 10px;
		margin-top: 50px;
	}
}

.input-box {
	display: flex;
	flex-direction: column;
}

.input-box label {
	font-weight: 600;
	margin: 10px 0 6px 0;
	color: #ffffff;
}

.input-box input,
.input-box select,
.input-box textarea {
	padding: 10px;
	background: #ffffff;
	border-radius: 15px;
}

.input-box input:focus,
.input-box select:focus,
.input-box textarea:focus {
	outline: none;
	border: 2px solid rgb(94, 46, 238);
}

.enviar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton-enviar {
	background: linear-gradient(45deg, #5fa2ff, #867bfe);
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-weight: 600;
	font-size: 13px;
	font-family: Arimo, sans-serif;
	text-transform: uppercase;
	padding: 8px 0;
	border: 4px solid;
	margin-top: 16px;
	width: 143px;
}
